body {
	font-family: Helvetica,Arial,sans-serif !important;
	font: Helvetica;
	width: 1300px;
	height: auto;
	min-height: 600px;
	display: block;
	padding-left: 10px;
	border:1px solid #1d5d6c;
	border-radius: 5px;
	margin: 0 auto !important;
	
}
 .navbar-default .navbar-nav > .active{
    color: #000;
   background: #d65c14;
 }
#login{
	float:right;
	padding:3px;
	padding-left:280px;
}
#sidebar{
	float: right;
	background: #e9e9e9;
	min-height: 500px;
	height:auto;
	width: 200px;
	padding: 10px;
	border-radius: 5px;
	margin-left: 15px;
}
#footer{
	bottom: 0;
}
/* li{ */
/* 	padding-left: 15px; */
/* } */
/* table{ */
/* 	border: 1px solid #ccc; */
/* 	border-radius: 3px; */
/* 	max-width: 860px; */
/* 	overflow: scroll; */
/* 	display: -moz-box; */
/* 	min-height: 400px; */
	
	
/* } */
/* td{ */
/* 	padding-left: 10px; */
/* 	padding-right: 15px; */
/* 	padding-botton: 5px; */
/* 	border-top:1px solid #ccc; */
/* } */
/* #sidebar li{ */
/* 	background: 0; */
/* 	padding-left: 10px; */
/* 	padding-botton: 10px; */
/* } */
/* #sidebar a{ */
	
/* 	padding-botton: 10px; */
/* } */
#header{
	height: 150px;
	border-bottom: 1px solid #1d5d6c;
	background-color: #a2c5db;
	border-radius: 5px;
}
#logo{
	background: url('logo.jpg');
	width: 200px;
	height: 134px;
	float: left;
}
form{
padding-left: 35px;	
}